{% extends 'main/home.html' %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3"
        <div class="col">
            <div class="card shadow-sm">
                <form method="post">
                    {% csrf_token %}
                    <p>Хотите удалить сообщение о"{{ object.application_m }}"?</p>
                    <button type="submit" class="btn btn-success">Подвердить</button>
                    <a class="btn btn-primary" href="{% url 'main:list'%}"
                                       role="button">Отменить</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}